<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251063356205-qqu6nvl28m2f5g6fkd0gloop2lm0mihh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251063356205-qqu6nvl28m2f5g6fkd0gloop2lm0mihh</string>
	<key>API_KEY</key>
	<string>AIzaSyAfLkzfS72FRNA3Q1JNL63AS8gWORqNV9U</string>
	<key>GCM_SENDER_ID</key>
	<string>251063356205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-.MyGBShop</string>
	<key>PROJECT_ID</key>
	<string>clearcodelesson11</string>
	<key>STORAGE_BUCKET</key>
	<string>clearcodelesson11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251063356205:ios:fdbec17abbf67d947d21a4</string>
</dict>
</plist>